@import "@/style/var.scss";
.home-box {
  width: 100%;
  height: 100%;
  flex: 1;
  overflow-y: auto;
}

.line20 {
  width: 100%;
  height: 0.2rem;
}

.btn-btm-large {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0.3rem;
  color: #fff;
  line-height: 0.98rem;
  background: $color;
}

// vant-toast
// #yihui .van-toast {
//   width: auto;
//   font-size: 0.28rem;
//   line-height: 1.3em;
//   padding: 0.2rem 0.3rem;
// }

//vat-tab 
#yihui {
  .van-tab {
    font-size: 0.32rem;
    color: #000;
    line-height: 0.98rem;
  }
  .van-tab--active {
    color: #6bbef9; 
  }
  .van-tabs--line .van-tabs__wrap {
    height: auto;
  }
  .van-tabs__line {
    bottom: 0;
    height: 0.06rem;
    width: 0.6rem;
    background-color: #6bbef9;
  }
  .van-tabs__nav--line {
    padding-bottom: 0;
  }
}

//dialog vant
#yihui {
  .mobile-dialog {
    font-size: 0.32rem;
    .van-dialog__header {
      line-height: 0.48rem;
    }
    .van-dialog__message {
      max-height: 38vh;
      padding: 0.26rem 0.24rem;
      white-space: normal;
    }
    .van-button {
      height: 0.96rem;
    }
  }
}

